.left{float:left}
.right{float:right}
.mla,.mlra{margin-left:auto !important}
.mra,.mlra{margin-right:auto !important}
.block{display:block}
.cover{*zoom:1;}
.cover:before,.cover:after{content:" ";display:table}
.cover:after{clear:both}
.badboy{clear:both;display:block;width:0 !important;height:0 !important;min-height:0 !important;min-width:0 !important;margin:0 !important;padding:0 !important;overflow:hidden}
.zedloos{padding-top:1px;padding-bottom:1px}
.overhide,.overhidden{overflow:hidden}
.overscrl,.overscroll{overflow:scroll}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:100%}
.rel,.relative{position:relative}
.abs,.absolute{position:absolute}
.fix,.fixed{position:fixed}
.txl{text-align:left}
.txr{text-align:right}
.txc{text-align:center}
.txj{text-align:justify}
.upper,.uppercase{text-transform:uppercase}
.lower,.lowercase{text-transform:lowercase}
.capital,.capitalize{text-transform:capitalize}
.rtl{direction:rtl}
.ltr{direction:ltr}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.w0{width:0;}
.ml0{margin-left:0}
.mr0{margin-right:0}
.w1{width:30px;margin-right:10px}
input.w1, textarea.w1{width:18px;border-width:1px;padding-left:5px;padding-right:5px}
.ml1{margin-left:40px}
.mr1{margin-right:40px}
.w2{width:70px;margin-right:10px}
input.w2, textarea.w2{width:58px;border-width:1px;padding-left:5px;padding-right:5px}
.ml2{margin-left:80px}
.mr2{margin-right:80px}
.w3{width:110px;margin-right:10px}
input.w3, textarea.w3{width:98px;border-width:1px;padding-left:5px;padding-right:5px}
.ml3{margin-left:120px}
.mr3{margin-right:120px}
.w4{width:150px;margin-right:10px}
input.w4, textarea.w4{width:138px;border-width:1px;padding-left:5px;padding-right:5px}
.ml4{margin-left:160px}
.mr4{margin-right:160px}
.w5{width:190px;margin-right:10px}
input.w5, textarea.w5{width:178px;border-width:1px;padding-left:5px;padding-right:5px}
.ml5{margin-left:200px}
.mr5{margin-right:200px}
.w6{width:230px;margin-right:10px}
input.w6, textarea.w6{width:218px;border-width:1px;padding-left:5px;padding-right:5px}
.ml6{margin-left:240px}
.mr6{margin-right:240px}
.w7{width:270px;margin-right:10px}
input.w7, textarea.w7{width:258px;border-width:1px;padding-left:5px;padding-right:5px}
.ml7{margin-left:280px}
.mr7{margin-right:280px}
.w8{width:310px;margin-right:10px}
input.w8, textarea.w8{width:298px;border-width:1px;padding-left:5px;padding-right:5px}
.ml8{margin-left:320px}
.mr8{margin-right:320px}
.w9{width:350px;margin-right:10px}
input.w9, textarea.w9{width:338px;border-width:1px;padding-left:5px;padding-right:5px}
.ml9{margin-left:360px}
.mr9{margin-right:360px}
.w10{width:390px;margin-right:10px}
input.w10, textarea.w10{width:378px;border-width:1px;padding-left:5px;padding-right:5px}
.ml10{margin-left:400px}
.mr10{margin-right:400px}
.w11{width:430px;margin-right:10px}
input.w11, textarea.w11{width:418px;border-width:1px;padding-left:5px;padding-right:5px}
.ml11{margin-left:440px}
.mr11{margin-right:440px}
.w12{width:470px;margin-right:10px}
input.w12, textarea.w12{width:458px;border-width:1px;padding-left:5px;padding-right:5px}
.ml12{margin-left:480px}
.mr12{margin-right:480px}
.w13{width:510px;margin-right:10px}
input.w13, textarea.w13{width:498px;border-width:1px;padding-left:5px;padding-right:5px}
.ml13{margin-left:520px}
.mr13{margin-right:520px}
.w14{width:550px;margin-right:10px}
input.w14, textarea.w14{width:538px;border-width:1px;padding-left:5px;padding-right:5px}
.ml14{margin-left:560px}
.mr14{margin-right:560px}
.w15{width:590px;margin-right:10px}
input.w15, textarea.w15{width:578px;border-width:1px;padding-left:5px;padding-right:5px}
.ml15{margin-left:600px}
.mr15{margin-right:600px}
.w16{width:630px;margin-right:10px}
input.w16, textarea.w16{width:618px;border-width:1px;padding-left:5px;padding-right:5px}
.ml16{margin-left:640px}
.mr16{margin-right:640px}
.w17{width:670px;margin-right:10px}
input.w17, textarea.w17{width:658px;border-width:1px;padding-left:5px;padding-right:5px}
.ml17{margin-left:680px}
.mr17{margin-right:680px}
.w18{width:710px;margin-right:10px}
input.w18, textarea.w18{width:698px;border-width:1px;padding-left:5px;padding-right:5px}
.ml18{margin-left:720px}
.mr18{margin-right:720px}
.w19{width:750px;margin-right:10px}
input.w19, textarea.w19{width:738px;border-width:1px;padding-left:5px;padding-right:5px}
.ml19{margin-left:760px}
.mr19{margin-right:760px}
.w20{width:790px;margin-right:10px}
input.w20, textarea.w20{width:778px;border-width:1px;padding-left:5px;padding-right:5px}
.ml20{margin-left:800px}
.mr20{margin-right:800px}
.w21{width:830px;margin-right:10px}
input.w21, textarea.w21{width:818px;border-width:1px;padding-left:5px;padding-right:5px}
.ml21{margin-left:840px}
.mr21{margin-right:840px}
.w22{width:870px;margin-right:10px}
input.w22, textarea.w22{width:858px;border-width:1px;padding-left:5px;padding-right:5px}
.ml22{margin-left:880px}
.mr22{margin-right:880px}
.w23{width:910px;margin-right:10px}
input.w23, textarea.w23{width:898px;border-width:1px;padding-left:5px;padding-right:5px}
.ml23{margin-left:920px}
.mr23{margin-right:920px}
.w24{width:950px;}
input.w24, textarea.w24{width:938px;border-width:1px;padding-left:5px;padding-right:5px}
.ml24{margin-left:960px}
.mr24{margin-right:960px}
.wx{width:9999px}
.last{margin-right:0 !important}
