/* 
 * 1Grids v3.0.2
 * A Simple CSS Grid System for The One Developers <1Devs/>
 *
 * http://ali.md/1grids
 * License: http://alimd.mit-license.org/
 */

grid_num  = 12

@import '1grids/base'

@import '1grids/layout_helper'

@import '1grids/text'

@import '1grids/hidden'

@import '1grids/grids_vertival'