/* 
 * 1Grids v3.0.2 (24col)
 * A Simple CSS Grid System for The One Developers <1Devs/>
 *
 * http://ali.md/1grids
 * License: http://alimd.mit-license.org/
 */

grid_num  = 24

@import 'src/base'

@import 'src/layout_helper'

@import 'src/text'

@import 'src/hidden'

@import 'src/grids_vertival'