
gridh(type,n)
  {type} n*10 px

for i in 0..40
  {'.h'+i}
    gridh height i

  {'.mh'+i}
    gridh min-height i

  {'.mt'+i}
    gridh margin-top i

  {'.mb'+i}
    gridh margin-bottom i

  {'.pt'+i}
    gridh padding-top i

  {'.pb'+i}
    gridh padding-bottom i

  {'.lh'+i}
    gridh line-height i
