grid(type, n)
  wn = n * ( 100%/grid_num )
  {type} round(wn, 5)

// <768

.container
  width auto

for i in 0..grid_num
  {'.w'+i}
    grid 'width' i

// >=768
@media all and (min-width: 768px)

  .container
    width 750px

  for i in 0..grid_num
    {'.ws'+i} // >=768px
      grid 'width' i

// >=992
@media all and (min-width: 992px)

  .container
    width 970px

  for i in 0..grid_num
    {'.wm'+i}
      grid 'width' i

// >=1200
@media all and (min-width: 1200px)

  .container
    width 1170px

  for i in 0..grid_num
    {'.wl'+i}
      grid 'width' i

.wx
  width 9999px
