.mla,
.mlra,
.mrla
  margin-left auto !important

.mra,
.mlra,
.mrla
  margin-right auto !important

.block
  display block

.table
  display table

.overhidden
  overflow hidden

.overscroll
  overflow scroll

.relative
  position relative

.absolute
  position absolute

.fixed
  position fixed

/*
.imgrep
  // Image replacement
  background-color transparent
  border 0
  overflow hidden
  // IE 6/7 fallback
  *text-indent: -9999px

.imgrep:before
  content ""
  display block
  width 0
  height 100%
*/