.pd
  padding-left 0.83333rem
  padding-right 0.83333rem

.tal
  text-align left

.tar
  text-align right

.tac
  text-align center

.taj
  text-align justify

.upper
  text-transform uppercase

.lower
  text-transform lowercase

.capital
  text-transform capitalize

.rtl
  direction rtl

.ltr
  direction ltr