$grid_num: 12;

$tablet_screens: 30em;
$small_screens: 48em;
$medium_screens: 62em;
$large_screens: 75em;

$gap: 0.01em;


@function grid($n) {
  // @return round($n * (100%/$grid_num));
  @return $n * (100%/$grid_num);
}

// extra small < $tablet_screens

.row {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through $grid_num {
  .w#{$i} {
    width: grid($i);
  }
}

@media all and (max-width: 29.9em) { // for prevent gap in resize of $tablet_screens
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: $tablet_screens) {

  .row {
    max-width: 470px;
  }

  @for $i from 1 through $grid_num {
    .wt#{$i} {
      width: grid($i);
    }
  }
}

@media all and (min-width: $small_screens) {

  .row {
    max-width: 750px;
  }

  @for $i from 1 through $grid_num {
    .ws#{$i} {
      width: grid($i);
    }
  }
}

@media all and (min-width: $medium_screens) {
  .row {
    max-width: 970px;
  }

  @for $i from 1 through $grid_num {
    .wm#{$i} {
      width: grid($i);
    }
  }
}

@media all and (min-width: $large_screens) {
  .row {
    max-width: 1024px;
  }

  @for $i from 1 through $grid_num {
    .wl#{$i} {
      width: grid($i);
    }
  }
}

.wx {
  width: 9999px;
}

.visible-x,
.visible-t,
.visible-s,
.visible-m,
.visible-l {
  display: none;
}

@media (max-width: $tablet_screens) {
  .visible-x {
    display: block;
  }

  .hidden-x {
    display: none;
  }

  .float-none-x {
    float: none !important;
  }
}

@media (min-width: $tablet_screens) and (max-width: $small_screens - $gap) {
  .visible-t {
    display: block;
  }

  .hidden-t {
    display: none;
  }

  .float-none-t {
    float: none !important;
  }
}

@media (min-width: $small_screens) and (max-width: $medium_screens - $gap) {
  .visible-s {
    display: block;
  }

  .hidden-s {
    display: none;
  }

  .float-none-s {
    float: none !important;
  }
}

@media (min-width: $medium_screens) and (max-width: $large_screens - $gap) {
  .visible-m {
    display: block;
  }

  .hidden-m {
    display: none;
  }

  .float-none-m {
    float: none !important;
   }
}

@media (min-width: $large_screens) {
  .visible-l {
    display: block;
  }

  .hidden-l {
    display: none;
  }

  .float-none-l {
    float: none !important;
  }
}