.hide
  display none !important

.show
  display block !important

.invisible
  visibility hidden

.text-hide
  font 0/0 a
  color transparent
  text-shadow none
  background-color transparent
  border 0

.hidden
  display none !important
  visibility hidden !important

.visible-x,
.visible-s,
.visible-m,
.visible-l
  display none !important

// x for extra small <768
@media (max-width: 767px)
  .visible-x
    display block !important
  .hidden-x
    display none !important

// s for small >=768 and <992
@media (min-width: 768px) and (max-width: 991px)
  .visible-s
    display block !important
  .hidden-s
    display none !important

// m for medium >=992 and <1200
@media (min-width: 992px) and (max-width: 1199px)
  .visible-m
    display block !important
  .hidden-m
    display none !important

// l for large >=1200
@media (min-width: 1200px)
  .visible-l
    display block !important
  .hidden-l
    display none !important


.visuallyhidden // Hide only visually, but have it available for screenreaders.

  &.focusable
    &:active
    &:focus
      clip auto
      height auto
      margin 0
      overflow visible
      position static
      width auto

  border 0
  clip rect(0 0 0 0)
  width 1px
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
